body {
    font-family: 'Courier New', Courier, fantasy;
    font-size: 22px;
}

h1,
h2 {
    font-size: 26px;
    color: gray;
}

h3 {
    font-size: 22px;
}

#whole-profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

#main-profile {
    margin-left: 40px;
}

#main-profile h1,
h2 {
    align-content: flex-start;
}

#main-profile h3 {
    align-content: flex-start;
}

#profile-picture img {
    width: 200px;
    height: 150px;
}

#profile-help-information {
    width: 100%;
}

#profile-help-information p {
    font-size: 26px;
}

#profile-help-information h2 {
    font-size: 24px;
    color: darkslategrey;
}

#aboutme-profile p {
    margin-left: 40px;
}

#aboutme-profile ul {
    list-style-type: decimal;
    margin-left: 55px;
}

#aboutme-profile li {
    font-size: 30px;
    text-decoration: underline;
}

.border-for-profile-picture {
    border: 4px solid aqua;
    width: 200px;
}

#aboutme-profile h1 {
    margin-left: 40px;
    color: gray;
}

#work-offer-information h2 {
    font-size: 26px;
}

#certificates-information h1 {
    font-size: 26px;
    color: dimgray;
}

#services-profile p {
    margin-left: 40px;
}

#services-profile li {
    font-size: 32px;
    font-style: oblique;
}

#services-profile h2 {
    margin-left: 40px;
    color: lightslategray;
}

#services-profile ul {
    margin-left: 25px;
    list-style-type: square;
}

#more-information-profile {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: flex-start;
}

#more-information-information h1 {
    margin-left: 40px;
}

#etsy {
    width: 340px;
    height: 55px;
    background-color: antiquewhite;
    border: 4px dashed tan;
    text-align: center;
    margin-left: 40px;
}

#etsy a {
    color: darkslategray;
    font-size: 50px;
}

#vest {
    width: 340px;
    height: 55px;
    background-color: blue;
    border: 4px dashed cornflowerblue;
    text-align: center;
    margin-left: 40px;
}

#vest a {
    color: white;
    font-size: 50px;
}

#gallery {
    width: 340px;
    height: 55px;
    background-color: brown;
    border: 4px dashed lightcoral;
    text-align: center;
    margin-left: 40px;
}

#gallery a {
    color: khaki;
    font-size: 50px;
}

#project-information-information h1 {
    font-size: 26px;
    color: lightslategrey;
    margin-left: 40px;
}

#andras-seke-profile {
    width: 300px;
    height: 160px;
    background-color: lightblue;
    border: 4px dashed yellow;
    margin-left: 40px;
    margin-top: 20px;
}

#andras-seke-profile a {
    margin-left: 40px;
    margin-top: 40px;
    display: block;
}

#travel-profile {
    width: 300px;
    height: 160px;
    background-color: lightblue;
    border: 4px dashed yellow;
    margin-left: 40px;
    margin-top: 20px;
}

#travel-profile a {
    margin-left: 40px;
    margin-top: 40px;
    display: block;
}